*.pyc
*.swp

__pycache__
weights/*
videos/*
test_map/*

report/report.log
report/report.synctex.gz
report/report.aux
report/report.bbl
report/report.blg
report/report.out
report/report.sta

generate_dataset/map/*
generate_dataset/map_fog/*
generate_dataset/masked_champions/*
generate_dataset/masked_minions/*
generate_dataset/masked_towers/*
generate_dataset/Dataset*
generate_dataset/cursor/*
generate_dataset/champion_icons/*
generate_dataset/ui/*


